#intro {
	border-bottom: 1px solid lightgrey;
}

#event_list {
	width: 74%;
	float: left;
	/*border-right: 1px solid lightgrey;*/
}

#event_nav {
	width: 25%;
	float: right;
	text-align: center;
	line-height: 1.4;
}

li:hover {
	background: lightgrey;
}

li a {
	display: inline-block;
	width: 100%;
}

#event_nav a:hover {
	color: blue;
}

h4 {
	font-size: 1.2em;
}

h5 {
	font-size: 1em;
}

details {
	overflow: auto;
}

details summary {
	/*background: lightgrey;*/
	border: 1px grey;
	margin: 10px;
	padding: 15px;
	border-radius: 5px;
	font-size: 1.3em;
}

details.culture summary {
	background: #ffcccc;
}

details.food summary {
	background: #ccccff;
}

details.weeb summary {
	background: #77cc77;
}

details.art summary {
	background: #aec6cf;
}


details p {
	width: 59%;
	float: left;
	margin-left: 2.5%;
}

details p::first-line {
	font-weight: bold;
}

details img {
	width: 32.5%;
	float: right;
	margin-right: 2.5%
}