h1+h4 {
	font-style: italic;
	font-size: 1.35em;
	word-spacing: 3px;
	text-align: center;
}

iframe {
	width: 100%;
}

#title {
	width: 100%;
	margin: auto;
	overflow: hidden;
}

#stay {
	width: 49.5%;
	float: left;
}

#study {
	width: 49.5%;
	float: right;
}

.slide {
	width: 100%;
}


@media screen and (max-width: 1024px) and (orientation: landscape)  { 
#page {
    width: 90%;
    margin: auto;
}
h1 {
	font-size: 400%;
}
iframe {
	height: 300px;
}
} 

@media screen and (max-width: 1024px) and (orientation: portrait)  { 
#page {
    width: 97%;
    font-size: 100%;


}
h1 {
	font-size: 300%;
}
#stay {
	width: 95%;
	float: none;
	margin: auto;
}

#study {
	width: 95%;
	float: none;
	margin: auto;
}
iframe {
	height: 100%;
} 