#intro {
	width: 49%;
	float: left;
}

iframe {
	width: 49%;
	float: right;
}

nav {
	width: 35%;
	border: 1px solid black;
	padding: 15px 25px;
	line-height: 1.75;
	margin-top: 30px;
}


nav a{
	width: 100%;
	color: purple;
}


.location {
	margin-top: 40px;
	margin-bottom: 40px;
}

.location h3 {
	width: 100%;	
}

.location p {
	width: 60%;
	float: left;
}

.location img {
	margin-left: 4%;
	width: 35%;
	/*float: right;*/
}

.location p::first-line {
	font-weight: bold;
}