.content {
  padding-top: -5%;
  margin-top: 2.5%;
  /*margin: 5% 1.5% 5% 1.5%;*/
}

.content h1 {
  text-align: center;
}

.content h2 {
  text-align: center;
  margin-bottom: 1%;
}

.content h3 {
  margin-top: 4%;
  font-weight: bolder;
}

.bullets {
  display: block;
  margin-top: 1%;
}

.bullets::first-letter {
  text-transform: capitalize;
}

#detail {
  margin-top: -1%;
}

.contributions {
  
}

.gallery-host{
  justify-content: space-between;
}

.gallery {
  max-width: 320px;
  margin: auto;
}

p {
  text-indent: 2em;
}