<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="index.html"><h4>Ryan Eckert</h4></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="index.html#about">About</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="portfolio.html" role="button" data-toggle="dropdown">
              Portfolio
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="portfolio.html#gamedigital">Games - Digital</a>
              <a class="dropdown-item" href="portfolio.html#gamemisc">Games - Miscellaneous</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="portfolio.html#projdigital">Projects - Digital</a>
              <a class="dropdown-item" href="portfolio.html#projmisc">Projects - Miscellaneous</a>
            </div>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="experience.html" role="button" data-toggle="dropdown">
              Experience
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="experience.html#work">Work</a>
              <a class="dropdown-item" href="experience.html#leadership">Leadership</a>
              <a class="dropdown-item" href="experience.html#other">Other</a>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="contact.html">Contact</a>
          </li>
        </ul>
      </div>
    </nav>